<h1>New Item</h1>

<%= render 'form', item: @item %>

<<<<<<< HEAD
<%= link_to 'Back', items_path, class: "btn btn-light"%>
=======
<br>
<%= link_to 'Back', items_path, class: "btn btn-primary"%>
>>>>>>> 2625f71af24cadde630ffc0f2c7223ab5e430007
