
 body {
   background-image: url('/assets/logo.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 95%;
 }

 .navbar {
   background-color: white;
 }

 .form-control {
   width: 50%;
 }

 a{color: black;}

